h1{
    padding-left: 10px;
}

h4{
    text-align: center;
}
.wtext{
    width: 200px;
    height: 250px;
    float: left;
    margin: 10px;
    background: darkgray;
}

.desc{
    padding: 10px;
}

#title{
    clear: left;
    padding-bottom: 5px;
}
.help{
    width: 100%;
    overflow-x: auto;
}
#stevens,#sno{
    width: 4000px;
}
